{% extends "./main_layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div>
                    {% with messages = get_flashed_messages() %}

                    {% if messages %}
                        {{message}}
                    {%endif%}

                    {% endwith %}
                    <h1 class="card-title">ini detail mahasiswa bernama {{data[2]}}</h1>
                    <img class="card-img-top" src="\{{pathFoto}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data[2]}}</h5>
                      <p class="card-text">NRP : {{data[1]}}</p>
                      <p class="card-text">Kelas : {{data[0]}}</p>
                      <a href="{{ url_for('edit_mahasiswa',id_mahasiswa=data[0])}}" class="btn btn-warning">Edit</a>
                      <a href="{{ url_for('hapus_mahasiswa',id_mahasiswa=data[0])}}" onclick="return confirm('Anda yakin mau menghapus item ini ?')"><button class="btn btn-danger">Delete <i class="fa fa-delete"></i></button></a>

                    </div>
                    <!-- <div>
                        <h1 class="card-title">NRP</h1>
                        <h3>{{data[1]}}</h3>
                        <hr>
                        <img src="\{{pathFoto}}" alt="gambar" width="200">
                        <h1 class="card-title">Kelas</h1>
                        <h3>{{data[0]}}</h3>
                        <hr>
                        <h1 class="card-title">Nama</h1>
                        <h3>{{data[2]}}</h3>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>       
{% endblock %}
