{% extends "main_layout.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
<div>
    <h1 class="card-title">Mengedit ruang</h1>
    <form method="POST">
        {% with messages = get_flashed_messages() %}

            {% if messages %}
                {{message}}
            {%endif%}

        {% endwith %}
        <div class="form-group">
          <label for="ruang">Nama ruang</label>
          <input type="text" name="ruang" class="form-control" id="ruang" placeholder="Masukkan ruang" value="{{ data[0][1] }}">
        </div>
        
        <div class="form-group">
            <label for="alamat">Alamat IP:PORT/video</label>
            <input type="text" name="alamat" class="form-control" id="alamat" placeholder="Masukkan alamat" value="{{ data[0][2] }}">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
            </div>
        </div>
    </div>
</div>       
{% endblock %}